@font-face {
    font-family: "8bit";
    src: url(8bit.ttf);
}

body{
  font-family: "8bit";
    background-color: black;
    color:white;
}
h1{
  text-align: center;
}

.theIcons{
    font-size: 10em !important;
    -webkit-transform:    skewX(20deg);
    transform:    skewX(20deg);
}
.projectTitle{

}
.projectBox{
    /*float:right;*/
    display: inline-grid;
}
.icoBase{
    -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /*width: 150px;*/
  height: 10em;
  border: none;
  /*font: normal 100%/normal Arial, Helvetica, sans-serif;*/
  /*color: rgba(0,0,0,1);*/
  -o-text-overflow: clip;
  text-overflow: clip;
    -webkit-transform:    skewX(-20deg);
  transform:    skewX(-20deg);
}
.projectBack{
  color: gray;
  background: #23528C;

}
#theIcons{
  text-align: center;

}
#InfoBox{
  /*position: absolute;*/
  margin-top: 1.5em;
  bottom: 10px;
  width:100%;
  height:50%;
  border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
/*border: 2px solid white;*/
  border: 2px solid white;



}
#displayImg{
  /*width: 95%;*/
  max-height: 100%;
  max-width: 100%;
  /*border: 2px solid white;*/
  /*padding-left:1em;*/
  /*max-height: 80%;*/
}
#imgBox{
  /*padding: 1em;*/

  width:20em;
  height:20em;

  max-width: 50%;

  float: left;

}
#detailBox{
  height: 100%;
  /*display: inline;*/
}
#clear{
  clear:both;
}
#contentBox{
  margin-left:1em;
  padding-left:1em;
  /*max-width: 45%;*/
  /*position: relative;*/
  /*float: right;*/
}